<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:task="http://www.springframework.org/schema/task"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd  http://www.springframework.org/schema/task
        http://www.springframework.org/schema/task/spring-task-3.0.xsd">

	<!--导入外部配置文件  -->
	<!-- <context:property-placeholder location="classpath:/db-mysql.properties"/>-->
	
	<!-- 扫描包 -->
	<context:component-scan base-package="com.LL.Triangle.service" />
	<!-- 定义Mapper接口扫描器 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!-- 扫描mapper包 -->
		<property name="basePackage" value="com.LL.Triangle.dao"/>
	</bean>

	<!-- 定时器开关-->
	<task:annotation-driven scheduler="myScheduler"/>
	<!-- 配置线程池，如果不配置，可能出现定时任务A等待定时任务B的情况。 -->
	<task:scheduler id="myScheduler" pool-size="5"/>

	<!-- Context工具 -->
	<bean id="contextUtil" class="com.LL.Triangle.utils.ContextUtil"/>

</beans>
